<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-outline-success mt-3">
        Add New Quiz
      </button>
      <div class="card mt-3">
        <div class="list-group mt-3">
          <button
            *ngFor="let quiz of quizzes"
            class="list-group-item list-group-item-action"
            >{{quiz.name}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <button class="btn btn-outline-dark mt-3">
        Save
      </button>
      <button class="btn btn-link mt-3">
        Cancel
      </button>
      <div class="card mt-3">
        <div class="card-header">
          General
        </div>
        <div class="card-body">
          Coming soon
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header">
          Questions
        </div>
        <div class="card-body">
          Coming soon
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header">
          Other
        </div>
        <div class="card-body">
          Coming soon
        </div>
      </div>
    </div>
  </div>
</div>
